/*Estiliza칞칚o do corpo da p치gina*/

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'tahoma', "Arial";
    background-image: url(fundo.png);
}


/*Estiliza칞칚o da se칞칚o HEADER da p치gina*/

header {
    background: #ac5606;
    width: 100%;
    /* width: 1264px; */
    padding: 2px 0px;
}


/*Estiliza칞칚o da se칞칚o NAV da p치gina*/

nav {
    position: absolute;
    top: -10px;
    right: 300px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #f7a0af;
}


/*estilizacao das listas da pagina*/

ul {
    list-style: none;
}


/*estilizacao do logotipo*/

.logo_caixa {
    width: 1100px;
    font-family: Retrochips;
    color: white;
    position: relative;
    left: 200px;
}

.logo {
    width: 100px;
    margin-left: 20px;
}

.banner {
    width: 100%;
    /* width: 1264px; */
    position: relative;
    margin: auto;
}


/*Estiliza칞칚o da 치rea "sobre"*/

@font-face {
    font-family: Retrochips;
    src: url(Retrochips.otf);
}

.titulo-principal {
    text-align: center;
    font-family: Retrochips;
    font-size: 2em;
    /*dobre da fronte padr칚o*/
    margin: 0 0 1em;
    clear: left;
}

.principal {
    font: normal 15pt Arial;
    width: 940px;
    margin: 8px auto;
    padding: 3em 6em;
    background-image: url(fundo.png);
    text-align: justify;
    border-radius: 10px;
    color: rgb(234, 192, 115);
    -webkit-text-stroke-color: rgb(237, 176, 62);
    -webkit-text-stroke-width: 1px;
    text-shadow: 4px 4px 5px black;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.hamburger {
    width: 160px;
    height: 130px;
    float: left;
    margin: 0 20px 20px 0;
}


/*Estiliza칞칚o do Mapa*/

.map {
    padding: 3em 0;
    background: linear-gradient(#9ad9cd, #f2e74b);
}

.mapa-conteudo {
    width: 603px;
    margin: 0 auto;
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}


/*츼rea Benef칤cios e Video*/

.beneficios {
    padding: 3em 0;
    background: #f2e74b;
    width: 100%;
    align-content: center;
}

.conteudo-beneficio {
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

.lista-beneficio {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-left: 18em;
}

.img_beneficios {
    width: 20%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px 0px #000;
    display: inline-block;
}

.img_beneficios:hover {
    opacity: 0.7;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "游"
}

.itens:first-child {
    font-weight: bold;
}

.video {
    width: 560px;
    margin: 2em auto;
}