body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'tahoma', "Arial";
    background: #9ad9cd;
    color: #001713;
}


/*Estilização da seção HEADER da página*/

header {
    background: #ac5606;
    /* width: 1264px; */
    padding: 0.3em 0;
    display: flex;
    font-family: Retrochips;
}

.header_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    margin-left: 3em;
    display: inline-block;
}


/*Estilização da seção NAV da página*/

nav {
    float: right;
    margin-top: 0.75em;
    margin-right: 2em;
}

.lista_menu {
    top: 0px;
    left: 0px;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    width: auto;
    margin-right: 1em;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

@font-face {
    font-family: Retrochips;
    src: url(Retrochips.otf);
}

nav a:hover {
    color: #f7a0af;
}


/*estilizacao das listas da pagina*/

ul {
    list-style: none;
}


/*estilizacao do logotipo*/

.logo_caixa {
    width: 100%;
    color: white;
    position: relative;
}

.logo {
    width: 100px;
    margin-left: 20px;
}


/*Estilização da área "sobre"*/

@font-face {
    font-family: Retrochips;
    src: url(Retrochips.otf);
}

footer {
    text-align: center;
    background: #ac5606;
    padding: 40px 0;
    margin-top: 15%;
    color: white;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}

h2 {
    font-family: Retrochips;
}

.contato-titulo {
    text-align: center;
    margin: 2em;
    font-size: 30px;
    color: #001713;
}

.caixa-form {
    border-radius: 5em;
    text-align: center;
    justify-content: center;
    display: grid;
    flex-direction: column;
    margin-top: 3em;
    color: #001713;
}

.caixa-txt-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    align-items: center;
    color: #001713;
}

#email {
    border-radius: 2em;
    width: 40rem;
    height: 4em;
    /* margin: 1em; */
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 4em;
    box-shadow: 2px 2px 2px #0a5c60;
    color: #001713;
}

#telefone {
    margin-right: 2em;
    border-radius: 2em;
    width: 40rem;
    height: 4em;
    margin: 1em;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 4em;
    box-shadow: 2px 2px 2px #0a5c60;
}

#nomesobrenome {
    margin-bottom: 2em;
    border-radius: 2em;
    width: 40rem;
    height: 4em;
    margin: 1em;
    text-align: center;
    align-items: center;
    margin-top: 2em;
    box-shadow: 2px 2px 2px #0a5c60;
    margin-bottom: 4em;
}

textarea {
    border-radius: 2em;
    width: 40rem;
    margin: 1em;
    box-shadow: 2px 2px 2px #0a5c60;
    align-items: center;
    margin-bottom: 4em;
    text-align: center;
    justify-content: center;
}

label {
    font-size: 20px;
    color: #001713;
}

legend {
    border-radius: 2em;
}

.enviar {
    border-radius: 2em;
    width: 10em;
    height: 4em;
    margin: 3em;
    box-shadow: 2px 2px 2px #0a5c60;
}

.contato_texto {
    color: #001713;
}

select {
    border-radius: 2em;
    width: 8em;
    height: 2em;
    margin: 1em;
    box-shadow: 2px 2px 2px #0a5c60;
}

.whatsapp-link {
    color: #ffffff;
}

p {
    color: #001713;
}